*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.calculator{
    display: flex;
    flex-direction: column;
    min-width: 330px;
    min-height: 500px;
    background-color: aliceblue;
}

.display{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.display input{
    height: 60px;
    background-color: white;
    color: black;
    font-size: 2rem;
    text-align: right;
    padding: 0px 10px;
    border: 1px solid black;
}



.calculator-buttons{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.row{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.row button{
    width: 25px;
    height: 80px;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.row .operator, .number, .equal-sign, .decimal{
    flex-basis: 100%;
}

.row .clear{
    flex-basis: 207%;
}

.row .zero-btn{
    flex-basis: 207%;
}




